<div class="container">
    <mat-card style="display: flex; justify-content: center;">
        <mat-card-title>
            <span>Centers</span>
        </mat-card-title>
    </mat-card>
    
    <div>
        <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
            
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="centerName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.centerName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rating">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.rating}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="openTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Open time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.openTime}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="closedTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Closed time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.closedTime}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"
            (click)="highlight(row)">
            </mat-row>
            
        </mat-table>
    </div>

    <mat-paginator 
        [pageSizeOptions]="[5, 10]"
        [pageIndex]="pageIndex" 
        [pageSize]="pageSize" 
        [length]="totalElements" 
        (page)="nextPage($event)"
        showFirstLastButtons>
    </mat-paginator>

</div>