<div class="container">
    <mat-card style="display: flex; justify-content: center;">
        <mat-card-title>
            <span>Make Appointment</span>
        </mat-card-title>
    </mat-card>

    <div>
        <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="center">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Center </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.center}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="startTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Start time </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.startTime}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="duration">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.duration}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="priceEuro">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Price (€) </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.priceEuro}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="taken">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.taken}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="approved">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Availability </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.approved}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="doctors">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Medical staff </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.doctors}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="makeAppointment">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell class="mat-button-cell" *matCellDef="let row"><button mat-raised-button color="accent"
                        (click)="onMake(row)">Reserve</button></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)">
            </mat-row>

        </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10]" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="totalElements"
        (page)="nextPage($event)" showFirstLastButtons>
    </mat-paginator>


</div>