.spacer {
    flex: 1 1 auto;
}

.active {
  color: white;
  font-weight:bool;
}

.navbar-buttons {
  width: 189px;
  margin: 3px;
  text-align: left;
  overflow: hidden;
}

.logged-user {
  margin: 3px;
}
