.spacer {
    flex: 1 1 auto;
}

.active {
  color: white;
  font-weight:bool;
}

.navbar-buttons {
  width: 159px;
  margin: 3px;
  text-align: left;
  overflow: hidden;
}

.personal-buttons {
  width: 117px;
  margin: 3px;
  text-align: left;
}

.logged-user {
  margin: 3px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
