<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="text-align: center; margin-left: 15px;">ISA Application 2022/2023</span>
        <span class="spacer"></span>
        <div>
            Welcome, <a class="personal-buttons" color="primary" routerLink="/profile">{{username}}</a>!
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <div mat-list-item *ngIf="!authenticationService.isLoggedIn()">
            <a class="personal-buttons" mat-raised-button color="primary" routerLink="/login">Login</a>
        </div> -->
        <!-- <div *ngIf="authenticationService.isLoggedIn()"> -->
        <a class="navbar-buttons" mat-raised-button color="primary" routerLink="/centers">Centers</a>
        <a class="navbar-buttons" mat-raised-button color="primary" routerLink="/make-appointment">Make appointment</a>
        <a class="navbar-buttons" mat-raised-button color="primary" routerLink="/my-appointments">My Appointments</a>
        <!-- <a mat-raised-button color="primary" routerLink="/users">Users</a> -->
        <a class="navbar-buttons" mat-raised-button color="primary" routerLink="/history">Appointment History</a>
        <a class="navbar-buttons" mat-raised-button color="primary" routerLink="/complaint">My Complaints</a>
        <!-- <a mat-raised-button color="primary" routerLink="/personnel">Personnel</a> -->
        <!-- premestiti questionnaire u profil -->
        <!-- <a mat-raised-button color="primary" routerLink="/questionnaire">Work order runs</a> -->
        <span class="spacer"></span>
        <a class="personal-buttons" mat-raised-button color="primary" routerLink="/profile">My profile</a>
        <!-- <div *ngIf="authenticated() (click)="onLogout()> -->
            <a class="personal-buttons" mat-raised-button color="primary" routerLink="/login">Login</a>
            <a mat-raised-button class="personal-buttons" color="warn" routerLink="/login" >Logout</a> <!--*ngIf="authenticated() (click)="onLogout()""-->
        <!-- </div> -->
    </mat-toolbar-row>

</mat-toolbar>
<router-outlet></router-outlet>
