<div class="container" style="align-items: center;">
  <mat-card style="display: flex; justify-content: center;">
    <mat-card-title>
      <span>My profile</span>
    </mat-card-title>
  </mat-card>

  <div>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>{{applicationUser.username}}</mat-card-title>
        <mat-card-subtitle>Role {{applicationUser.role}}</mat-card-subtitle>
      </mat-card-header>
      <hr>
      <br>
      <!-- <mat-card-content> -->
        
      <div>
        <table id="user-table">
            <tr>
              <td>
                <p><strong>{{applicationUser.name + " " + applicationUser.surname}}</strong><br>Name and surname</p> 
              </td>
              <td>
                <p><strong>{{applicationUser.email}}</strong><br><p>Email</p></p> 
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>{{applicationUser.address}}</strong><br><p>Address</p></p> 
              </td>
              <td>
                <p><strong>{{applicationUser.phone}}</strong><br><p>Phone</p></p> 
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>{{applicationUser.jmbg}}</strong><br><p>UMNC</p></p> 
              </td>
              <td>
                <p><strong>{{applicationUser.occupation}}</strong><br><p>Occupation</p></p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>{{applicationUser.sex.toUpperCase()}}</strong><br><p>sex</p></p> 
              </td>
              <td>
                <p><strong>{{applicationUser.jobinformation}}</strong><br><p>Job information</p></p> 
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Penalties: {{applicationUser.penalty}}</strong><br><p>Penalties are deleted on 1st day of the month</p></p> 
              </td>
              <td>
                <p>
                  <a class="navbar-buttons" *ngIf="!hasQuestionnaire" mat-raised-button color="primary" routerLink="/fill-questionnaire">Fill questionaire</a>
                  <a class="navbar-buttons" *ngIf="hasQuestionnaire" mat-raised-button color="primary" routerLink="/questionnaire">View questionnaire</a></p>
              </td>
            </tr>
          </table>
        </div>
        <!-- </mat-card-content> -->

    </mat-card>
  </div>
</div>