.mat-row {
    height: auto;
}

.mat-cell {
    padding: 3px, 3px, 3px, 3px;
    text-align: left;
}

table.mat-table {
    table-layout: fixed;
    width: 100%;
    display: table;
}

.highlight {
    background-color: gray;
}

.mat-button-cell {
    justify-content: center;
}

.mat-card {
    height: 100%;
}

table {
    width: 100%;
    border-spacing: 10px;
    table-layout: fixed;
}

td {
    width: 45%;
    text-align: left;
}

.user-button {
    width: 189px;
    margin: 3px;
    text-align: left;
    overflow: hidden;
  }