<form>
    <div class="login-container">
        <div class="login-content">
            <mat-toolbar class="login-toolbar" color="primary">LOGIN</mat-toolbar>
            <mat-card>
                <form [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-icon matPrefix>person_outline</mat-icon>
                        <input  type="text" matInput placeholder="Username" formControlName="username">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-icon matPrefix>lock_outline</mat-icon>
                        <input type="password" autocomplete="false" matInput placeholder="Password"
                            formControlName="password">
                    </mat-form-field>
                    <div class="submit-button">
                        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">LOGIN</button>
                    </div>
                </form>
                <hr>
                <br>
                <div class="submit-button">
                    <span style="text-align: center;">Or you can</span>
                </div>
                <div class="submit-button">
                    <button type="submit" mat-raised-button color="accent" routerLink='/register'>REGISTER</button>
                </div>
            </mat-card>
        </div>
    </div>
</form>